@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&family=Nunito+Sans:wght@200;300;400;500;600;700;800;900;1000&display=swap');


*{
  box-sizing: border-box;
  outline: none;
}
*, ::after, 
::before{
  box-sizing: border-box;
}

body {
  background-color: var(--white);
  color: var(--paragraph-color);
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  font-family: var(--heading-font);
  line-height: 1.8;
  margin: 0 auto;
}

.container-fluid{
  padding: 2% 6% 2% 6%;
  align-items: center;
}


h1{
  font-size: 2rem;
  line-height: 1;
  font-weight: 900;
  font-family: var(--heading-font);
  color: var(--heading-color);
  
}

p{
  font-size: 1rem;
}

ul li{
  list-style-type: none;
  list-style: none;
}

a{
  text-decoration: none;
  color: var(--primary-color);
  cursor: pointer;
  
}

a:hover{
  color: var(--paragraph-color);
}



header{
  /* height: 55vh; */
  background-color: var(--white);
  margin-bottom: 2rem;

}
.icon{
  color: var(--secondary-color);
}


.top-header {
  height: 10vh;
  background-color: var(--white);
}


/*Top Navigation styles */


.top-header .col-lg-6 ul li a{
  font-size: 1rem;
  color: var(--secondary-color);
  padding: 5px;
  
}



.logo-cart-header{
  height: 15vh;
  background-color: var(--white-2);
}

.logo-cart-header .navbar-brand img {
  
  width: 100px;
    margin-top: -50px;
    margin-left: -20px;
}


.mobile-menu .row {
  height: 18vh;
  background-color: var(--white);
 
  }

  /*My drop down*/
.myDropdown {
  height: 15vh;
  background-color: #fff;
}

.myDropdown .dropdown button{
  text-align: left;
  background-color: var(--secondary-color);
  color: #fff;
}


.myDropdown .dropdown button i{
  padding-left: 5px;
  padding-right: 10px;
}

.myDropdown .dropdown .fa-caret-down{
 padding-left: 140px;
}

.dropdown-toggle::after {
  display: none;
}

.myDropdown .large-menu {
  font-size: 1.2rem;
  color: var(--heading-color);
  font-weight: 600;
}

/*Main menu starts*/

.section-bg-1{
/* height: 90vh; */
background-color: var(--white-2);
}


.btn.shop-btn  {
  background-color: var(--secondary-color);
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
}

.hero-btn{
  padding-top: 2.5rem;
  padding-bottom: 1rem;
}

.view-more-btn{
  background-color:  #ffc107;;
}

.section-bg-3 .flex-row .border-bottom {
  color: solid var(--secondary-color);
}
.list-btn{
  background-color: var(--white-2);
  margin-right: 15px;
  color: ;
  text-transform: uppercase;
  border: none;
  border-radius: 0;
}
.hero-para {
  position: relative;
  /* left: 15px; */
  top: 10px;
  bottom: 10px;
  border-left: 1px solid #576466;
}


   .section-bg-1 .hero-para p{
    padding-left: 20px;
   }
   

   /*Section 2*/

.section-bg-2{
  /* height: 40vh; */
  background-color: var(--white);
}
   
.section-bg-2 .container .filter-section{
  background-color: var(--white-2);
  padding: 20px;
  
}

a.add-to-cart{
  color: #fff;
}

.card{
  background-color: var(--white);
}

.product-item{
  border: 2px solid;
  border-color: var(--border-color-8);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}


.product-item:hover {
  
  transition: all 0.3s ease 0s;
}

.card-img-top .product-img{
  
    position: relative;
    overflow: hidden;

}

/*Section 3*/
.section-bg-3 .myProducts{
  margin-top: 5rem;
}

.section-bg-3 .product-btn {
 text-align: center;
}

.featured-items{
  
  margin-top: 2rem;
  margin-bottom: 2rem; 
  /* margin-left: 1rem;  */
  /* justify-content: space-between; */
  
}

.featured-text{
  font-size: var(--heading-font);
  color: var(--heading-color);
  font-weight: 600;
}





.make-call{
  height: 40vh;
  background-color: var(--secondary-color);
  position: relative;
  bottom: -150px;
  padding: 2rem;
 
}
.make-call .cta-btn .btn{ 
  text-align: center;
  background-color: var(--white);
}



/*Footer*/
footer{
  
  background-color: #041113;
  
}

footer .mt-5{
  padding-top: 3.5rem;
}



/*Media Queries*/

@media (max-width:375px){

.top-header .col-lg-6 .phone{
      text-align: center;
      display: block;
    }
    
.top-header .col-lg-6 .social{
  /* justify-content-center */
  justify-content: center;
}

.logo-cart-header .middle-form .logo-cart-form{
  display: none;
}

.logo-cart-header .middle-menu{
  display: inline-flex;
}

.logo-cart-header .col-lg-4 .site-logo{
  flex: 0 0 auto;
  width: 50%;
}
.logo-cart-header .col-lg-2 .site-link{
  flex: 0 0 auto;
  width: 50%;
}

.logo-cart-header .form{
  display: none;
}

.make-call.flex-row{
  flex-direction: column!important;
}

}

@media (max-width:425px) {

.top-header .col-lg-6 .phone{
  text-align: center;
  display: block;
}

.top-header .col-lg-6 .social{
/* justify-content-center */
justify-content: center;
}

 
.logo-cart-header .row{
  display: inline-flex;
}
.logo-cart-header .row .col-lg-4{
  flex: 0 0 auto;
  width: 50%;
}

.logo-cart-header .form{
  display: none;
} 

.logo-cart-header .row .col-lg-2 {
  flex: 0 0 auto;
  width: 50%;
}

.large-menu{
  display: none;
}

.myDropdown .dropdown{
  margin-top: 10px;
}


.hero-img img{
  max-width: 70%;
  float: right;
  background-size: cover;
}

.filter-btn{
  margin-top: 10px;
}

.col-sm-6{
  flex: 0 0 auto;
  width: 50%;
}

a.add-to-cart{
  font-size: 0.75rem;
}


.make-call.flex-row{
  flex-direction: column!important;
}


}

  









:root {
  --primary-color: #071C1F;
  --primary-color-2: #041113;
  --primary-color-3: #133236;
  --secondary-color: #e00d7e;
  --secondary-color-2: #cb3421;
  --secondary-color-3: #fb412a;
  --heading-color: #071c1f;
  --paragraph-color: #5C727D;
  --heading-font: 'Josefin Sans', sans-serif;
  --body-font: 'Nunito Sans', sans-serif;
  --color-1: #8cb2b2;
  --color-2: #ACD2D8;
  --color-3: #A3BCC0;
  --color-4: #84A2A6;
  --color-5: #5C727D;
  --color-6: #F5DFDC;
  --gradient-color-1: linear-gradient(90deg, rgba(242,139,194,1) 0%, rgba(216,177,242,1) 50%);
  --gradient-color-2: linear-gradient(to top, rgba(7,28,31,0) 0%, rgba(7,28,31,1) 90%);
  --gradient-color-3: linear-gradient(to bottom, rgba(7,28,31,0) 0%, rgba(7,28,31,1) 90%);
  --gradient-color-4: linear-gradient(to top, rgba(242,246,247,0) 0%, rgba(242,246,247,1) 90%);
  --gradient-color-5: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 70%);
  --section-bg-1: #F2F6F7;
  --section-bg-2: #171B2A;
  --section-bg-5: #FFF2F0;
  --section-bg-6: #0B2C3D;
  --section-bg-7: #282b38;
  --border-color-1: #e5eaee;
  --border-color-2: #1e2021;
  --border-color-3: #5C617F;
  --border-color-4: #eb6954;
  --border-color-5: #bc3928;
  --border-color-6: #103034;
  --border-color-7: #d1dae0;
  --border-color-8: #f6f6f6;
  --border-color-9: #e4ecf2;
  --border-color-10: #ebeeee;
  --border-color-11: #ededed;
  --border-color-12: #e1e6ff;
  --border-color-13: #f1f8ff;
  --ltn__box-shadow-1: 0 16px 32px 0 rgba(7, 28, 31, 0.1);
  --ltn__box-shadow-2: 0 0 4px rgba(0, 0, 0, 0.1);
  --ltn__box-shadow-3: 0 1px 6px 0 rgba(32, 33, 36, .28);
  --ltn__box-shadow-4: 0 5px 20px 0 rgba(23, 44, 82, 0.1);
  --ltn__box-shadow-5: 0 8px 16px 0 rgba(93, 93, 93, 0.1);
  --ltn__box-shadow-6: 0 0 25px 2px rgba(93, 93, 93, 0.2);
  --ltn__box-shadow-7: 0 0 10px 0px rgba(93, 93, 93, 0.2);
  --black: #000000;
  --black-2: #22355B;
  --white: #fff;
  --white-2: #F2F6F7;
   }