@media (min-width:768px){
/*   
.large-menu{
  display: none;
} */

.hero-img img{
  max-width: 70%;
  float: right;
  background-size: cover;
}

.col-md-3 {
    flex: 0 0 auto;
    width: 33.3%;
}
}

@media  (min-width:992px){

.logo-cart-header .logo-cart-form input{
  padding: 10px;
  position: relative;
  padding-left: 40px;
}

.logo-cart-header .logo-cart-form i{
    position: absolute;
    min-width: 40px;
    right: 30px;
    top: 20px;
}

.col-md-3 {
    flex: 0 0 auto;
    width: 25%;
}

.make-call.flex-row{
  flex-direction: row;
}

}

@media (min-width:767px) and (max-width:1440px) {
    
.top-header {
  height: 5vh;
  background-color: var(--white);
}
  .top-header .col-lg-6{
    flex:0 0 auto;
    width:50%;
  }
  .top-header .col-lg-6 {
    /* text-align: center; */
}

.top-header .col-lg-6 .social{
  /* justify-content-center */
  justify-content: end;
}

  .top-header .col-lg-6 {
    
    margin-top: -20px;
   
}

.logo-cart-header .navbar-brand img {
  
  width: 200px;
    
}

.logo-cart-header .site-link ul{
  justify-content: end;
}

.myDropdown .dropdown .fa-caret-down{
  padding-left: 40px;
 }
  
.section-bg-1{
  height: 70vh;
  }

h1{
  font-size: 3rem;
  line-height: 1;
  font-weight: 900;
  font-family: var(--heading-font);
  color: var(--heading-color);
  
}

  .mobile-menu  {
    display: none;
  }

.make-call .cta-btn .btn{ 
  justify-content: end;
}
 
}

